/*****************************
Estilos generales
**************************/

body{
    background-image: url("/img/fondo.jpg");
    background-size: contain;
    background-repeat:round;
    font-family: 'Boogaloo', cursive;
}

#content{
    padding-top: 40px;
}

header, footer{
    background: #1B1464;
    padding: 2px;
}

p, h1, label, legend{
    color: #60646D;
}

#video-wrapper, #comite, .photo p, footer p, form, header, #logo, #members, h1, #categorias, h2, h3, #funcionEspecial p, #funcionEspecial ul li, #funcionEspecial div, #categoria ul, #lugar div, #lugar p, #prensa p{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content:center;
    
}

footer{
    padding-bottom: 40px;
}

footer div img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

form{
    padding: 10px;
}

a{
    text-decoration: none;
}

#secret{
    visibility: hidden;
}

textarea{
    resize: none;
}

legend{
    text-align: center;
    font-size: 1.35em;
}

input, textarea{
    display: block;
}

/*************************************
Estos son los estilos de las cintas, esas que no utilizamos
**************************************/

#l img, #r img{
    width: 50px;
    height: 45%;
}

#l, #r{
    position: fixed;
}

#l{
    right: 4%;
}

#r{
    left: 4%;
}

/*******************************
Especificos
*******************************/

#members .photo img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#lugar div img{
    border-radius: 20%;
    height: 300px;
    width: 350px;
}

#categorias{
    display: flex;
    display: -webkit-flex;
    column-count: 2;
    -webkit-column-count: 2;
}

#categorias .categoria img{
    height: 150px;
    width: 150px;
}

.photo{
    padding: 20px;
}

.photo img:hover{
    -webkit-animation-name:member;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-fill-mode:forwards;
    animation-name:member;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}

.photo p{
    position: relative;
    bottom: 80px;
    visibility: hidden;
    color: #CD5626;
    background: #FFCD24;
}

#logo img{
    width: 500px;
    height: 200px;
}

#video-wrapper video{
    width: 60%;
}

/***********************************
Navegación
***********************************/

nav ul li{
    display: inline;
    margin: 0 4%;
}

h2 a{
    color: #1B1464;
}

nav ul li a{
    font-size: 1.5em;
    padding: 10px;
}

nav ul li a{
    color: white;
}

nav ul li a:hover{
    -webkit-animation-name:menu;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-fill-mode:forwards;
    animation-name:menu;
    animation-duration:2s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}

/*******************************
Animaciones
*******************************/

@-webkit-keyframes member{
    0%{filter: grayscale(0%);}
    100%{filter: grayscale(100%);}
}

@keyframes member{
    0%{filter: grayscale(0%);}
    100%{filter: grayscale(100%);}
}

@-webkit-keyframes menu{
    0%{color:white;}
    100%
    {
        background: #CD5626;
        color: #1B1464;
    }
    
@keyframes menu{
    0%{color:white;}
    100%
    {
        background: #CD5626;
        color: #1B1464;
    }
}